---
import BaseHeader from "@/features/base/BaseHeader.astro";
import NavBar from "@/features/base/NavBar.astro";
import Footer from "@/features/base/Footer.astro";
import websiteSetting from "@/features/websiteSetting.json";
const { title, description, image } = Astro.props;
---

<html
    lang={websiteSetting.websiteLanguage}
    data-theme="grander"
    class="scroll-smooth"
>
    <head>
        <BaseHeader title={title} description={description} image={image} />
    </head>
    <body class="min-block-svh max-w-640 mx-auto [scrollbar-gutter:stable]">
        <Fragment set:html={websiteSetting.BodyInsertion} />
        <NavBar />
        <main class="min-h-auto sm:min-h-[80vh]">
            <slot />
        </main>
        <Footer />
    </body>
</html>
