---
import ActionButton from "@/features/base/ActionButton.astro";
import ImgComp from "@/features/base/ImgComp.astro";

const {
  subTitle,
  title,
  paragraph1,
  paragraph2,
  button,
  State1Value,
  State1Label,
  State2Value,
  State2Label,
  aboutImg,
} = Astro.props;
---

<section class="section-space">
  <div
    class="container grid grid-cols-1 lg:grid-cols-[30%_1fr] gap-10 lg:gap-40"
  >
    <div>
      <span class="subTitleThing">{subTitle}</span>
      <h2 class="text-[26px] md:text-[2rem] lg:text-[34px] leading-normal mt-1">
        {title}
      </h2>

      <div
        class="space-y-2.5 md:space-y-5 text-base/normal text-accent my-5 md:my-10"
      >
        <p>
          {paragraph1}
        </p>

        <p>
          {paragraph2}
        </p>
      </div>

      <ActionButton class="block w-max" button={button} type="primary" />
    </div>
    <div class="grid grid-cols-1 sm:grid-cols-[62%_1fr]">
      <div class="pt-20 md:pt-30 grid grid-cols-[40%_1fr]">
        <div>
          <div class="bg-base-200 p-3 md:p-8.75 space-y-7">
            <p class="text-4xl/none md:text-[50px]/none">{State1Value}</p>
            <p class="text-xs/normal md:text-sm/normal">
              {State1Label}
            </p>
          </div>
        </div>

        <div class="pt-35 md:pt-47.5">
          <div
            class="bg-base-200 p-3 sm:p-8 space-y-12.5 md:space-y-25"
          >
            <p class="text-4xl/none md:text-[50px]/none">{State2Value}</p>
            <p class="text-xs/normal md:text-sm/normal">
              {State2Label}
            </p>
          </div>
        </div>
      </div>

      <div
        class="relative rightSlide h-auto sm:h-55 md:h-77.5"
        data-animation="rightSlide"
      >
        <ImgComp
          width="350"
          height="310"
          class="w-full h-full object-cover"
          data-animate
          img={aboutImg}
        />
      </div>
    </div>
  </div>
</section>
